<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".Collection"></activity>
        <activity
            android:name=".agents"
            android:theme="@style/Theme.MyApplication.NoActionBar"></activity>
        <activity
            android:name=".Store"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".User"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Login_Page"
            android:label="@string/title_activity_login_page"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>